header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header__logo-logo{
    width: 27px;
    height: 27px;
}

.header__logo--name-company{
    font-size: 18px;
    font-weight: 500;
}

.header__list{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.header__list--item{
    list-style-type: none;
}

.list__item--link{
    text-decoration: none;
}

.header__login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    
}