header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header__logo-logo{
    width: 27px;
    height: 27px;
}

.header__logo--name-company{
    font-size: 18px;
    font-weight: 500;
}

ul{
    padding-right: 300px;
}

.header__list{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}


.header__list--item{
    list-style-type: none;
    font-size: 18px;
    font-weight: 500;
    
}

.list__item--link{
    text-decoration: none;
    color: var(--cor--texto);
}

.header__login{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.header__login--entrar{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor--texto);
    text-decoration: none;
}

.header__login--button{
    box-sizing: border-box;
    width: 112px;
    height: 44px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
    color: var(--branco);
    background-color: var(--vermelho);
    padding: 10px 18px;
}

