@import url("style/header.css");

:root{
    --branco: #FFFFFF;
    --fonte--principal: "Inter";
    --cor--texto: #667085;
    --vermelho:#8E2424;
}

body{
    background: var(--branco);
    font-family: var(--fonte--principal);
    margin: 20px 96px;
}